mat-card {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 20px 40px;
  width: 300px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.addTemplateButton {
  margin: 15px;
}
input {
  height: 30px;
  margin-right: 5px;
  border-radius: 5px;
}

.buttonsGroup {
  display: flex;
  gap: 10px;
}
.list {
  background-color: rgb(234, 234, 234);
}

.c {
  height: 100%;
  background-color: rgb(234, 234, 234);
}
