<div class="container">
    <h2>Add New Template</h2>
    <div>
      <label for="jsonData">JsonData: </label>
      <textarea
        placeholder="{&#10;&nbsp;'name':'Templates name', &#10;&nbsp;'content':'Templates content message',&#10;&nbsp;'firstName':'Firstname',&#10;&nbsp;'lastName':'Lastname', &#10;&nbsp;'phoneNumber':'123456789', &#10;&nbsp;'address':'Address', &#10;&nbsp;'email':'Email@',&#10;}"
        id="jsonData" [(ngModel)]="jsonData" name="jsonData"
        rows="10" cols="100" style="width: 90%; padding: 8px;"></textarea>
    </div>
    <div class="buttonsGroup">
    <button mat-raised-button color="primary" (click)="saveTemplate()">Save</button>
    <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
  </div>
    <div [innerHTML]="safeHtmlData"></div>
  </div>
  