.container {
  padding: 60px;
  background-color: rgb(234, 234, 234);
}
textarea::placeholder {
  font-size: 10px;
}

.buttonsGroup {
  display: flex;
  gap: 10px;
}
.jsonField {
  display: flex;
  flex-direction: column;
}
