<div class="container">
  <div class="firstItem">
  <div>
    <label for="name">Templates name: </label>
    <textarea
      
      id="name" [(ngModel)]="name" name="name"
      rows="1" cols="100" style="width: 90%; padding: 8px;"></textarea>
  </div>
  <div>
    <label for="htmlSource">HTML Source: </label>
    <textarea
      placeholder="Insert your html source..."
      id="htmlSource" [(ngModel)]="htmlSource" name="htmlSource"
      rows="10" cols="100" style="width: 90%; padding: 8px;"></textarea>
      
  </div>
  <button mat-raised-button color="primary" (click)="saveTemplate(htmlSource, name)">Save Template</button>
 <div class="jsonField">
    <label for="jsonData">Json: </label>
    <textarea
      placeholder="Insert json data for your template..."
      id="jsonData" [(ngModel)]="jsonData" name="jsonData"
      rows="10" cols="100" style="width: 90%; padding: 8px;"></textarea>
  </div>
  <div class="buttonsGroup">
    <button mat-raised-button color="primary" (click)="previewTemplate()">Template Preview</button>
    <button mat-raised-button color="warn" (click)="closeDialog()">Back</button>
  </div>
</div>

