<div class="container">
<h2>Add New Template</h2>
<div>
    <label for="jsonData">JsonData: </label>
    <textarea placeholder="{&#10;&nbsp;'name':'Templates name ', &#10;&nbsp;'content':'&lt;b&gt;Templates content&lt;/b&gt;'&#10;}"  id="jsonData" [(ngModel)]="jsonData" name="jsonData" rows="5" cols="40"></textarea>
</div>
<button mat-raised-button color="primary" (click)="saveTemplate()">Save</button>
<button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
<div [innerHTML]="safeHtmlData"></div>
</div>